/* Semua body */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
textarea:focus, input:focus{
    outline: none;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
head, body {
    margin: 0;
    padding: 0;
    background-color: #ffeaa7;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 20px auto;
    max-width: 900px;
    height: 1300px;
    display: flex;
    flex-direction: column;
}
/* Header website */
header{
    flex-grow: .5;
    display: flex;
    flex-direction: column;
    background-color: #fdcb6e;
}
/* Tulisan toko mainan */
div#banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
div#banner marquee{
    color: #2c3e50;
    font-size: small;
}
div#banner h1{
    color: #e17055;
    font-size: 50px;
}

/* Navbar */
header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #e17055;
}
input#search{
    color: #2c3e50;
    height: 25px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid #2c3e50;
    background-color: transparent;
}
button#search{
    cursor: pointer;
    font-size: medium;
    background-color: transparent;
    color: #2c3e50;
    border: none;
    border-radius: 50%;
}
input#search::placeholder{
    color: #2c3e50;
}
header nav a{
    text-decoration: none;
    color: #2c3e50;
}
nav a.daftar-nav , nav a.kat-nav{
    cursor: pointer;
}

/* PROFILE */
div#profile{
    cursor: pointer;
    line-height: 1px;
    display: flex;
    color: #2c3e50;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    padding: 5px;
}
div#profile p{
    font-size: small;
    text-transform: uppercase;
}
header nav i#profile{
    font-size: larger;
}
header nav .pemesanan-nav , header nav .keranjang-nav{
    cursor: pointer;
}

/* Main area */
main#homepage{
    box-sizing: border-box;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    background-color: #9b59b6;
}

/* Bagian kategori */
main section#kategori-signup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .5s;
    height: 70px;
    margin-bottom: 5px;
    background-color: #e17055;
}
main section#kategori-signup a{
    text-decoration: none;
    color:  #2c3e50;
    font-weight: normal;
}
main section#kategori-signup a:hover{
    font-weight: bold;
}
main section#kategori-signup.show{
    transform: scaleY(1);
}

main#homepage section#container-admin{
    display: flex;
    padding: 0 15px;
    flex-direction: column;
}
main#homepage section#container-admin form input{
    background-color: transparent;
    border: 1px solid #2c3e50;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 4px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
main#homepage section#container-admin form button{
    background-color: #2c3e50;
    cursor: pointer;
    padding: 4px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    color: #9b59b6;
    font-weight: bold;
    border: 1px solid #2c3e50;
}
main#homepage section#container-admin form input::placeholder{
    color:  black;
}
table, th, tr, td{
    text-align: center;
    border: 1px solid #2c3e50;
}

main#homepage section#container-admin table tbody tr{
    cursor: pointer;
    transition: all .3s;
}

tbody tr:hover {
 background-color: #e17055;
 color: black;
}

