/* Semua body */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
textarea:focus, input:focus{
    outline: none;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
head, body {
    margin: 0;
    padding: 0;
    background-color: #ffeaa7;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 20px auto;
    max-width: 900px;
    height: 1300px;
    display: flex;
    flex-direction: column;
}

/* Profile */
div#profile{
    cursor: pointer;
    height: 80%;
    display: flex;
    color: #2c3e50;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    padding: 2px 10px;
}
div#profile p{
    margin: 0;
    font-size: small;
    text-transform: uppercase;
}

header nav i#profile{
    font-size: larger;
}

/* Header website */
header{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fdcb6e;
}
/* Tulisan toko mainan */
div#banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
div#banner marquee{
    color: #2c3e50;
    font-size: small;
}
div#banner h1{
    color: #e17055;
    font-size: 50px;
}

/* Navbar */
header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #e17055;
}
input#search{
    color: #2c3e50;
    height: 25px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid #2c3e50;
    background-color: transparent;
}
button#search{
    cursor: pointer;
    font-size: medium;
    background-color: transparent;
    color: #2c3e50;
    border: none;
    border-radius: 50%;
}
input#search::placeholder{
    color: #2c3e50;
}
header nav a{
    text-decoration: none;
    color: #2c3e50;
}
nav a.daftar-nav , nav a.kat-nav , nav a.pemesanan-nav , nav a.keranjang-nav{
    cursor: pointer;
}

/* Main area */
main#homepage{
    flex-grow: 4;
    display: flex;
}
section#main{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9b59b6;
}
section#main div#registrasi form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#main div#registrasi form table {
    margin-top: 10px;
}
section#main div#registrasi form table td{
    font-size: small;
}
section#main div#registrasi label{
    box-sizing: border-box;
    margin-top: 10px;
}
section#main div#registrasi input , section#main div#registrasi option , section#main div#registrasi select  {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    height: 25px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: transparent;
}
section#main div#registrasi input::placeholder{
    color: #121920;
}
section#main div#registrasi #btn-daftar, section#main div#registrasi #btn-save{
    cursor: pointer;
    margin-top:10px;
    font-family: 'Poppins', sans-serif;
    font-size:large;
    color: black;
    padding: 5px 15px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: transparent;
}

#main div#kategori-signup.show{
    transform: scaleY(1);
}
#main div#kategori-signup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .5s;
    top:0;
    flex-grow: 1;
    background-color: #e17055;
}
section#main div#registrasi{
    flex-grow: 3;
}
#main #kategori-signup a{
    color: #2c3e50;
    text-decoration: none;
}
#main #kategori-signup a:hover{
    font-weight: bolder;
}
section#main div#hello{
    text-align: center;
    flex-grow: 0.6;
    color: #121920;
}
section#main div#product{
    flex: 5;
    background-color: #9b59b6;
}

/* border table */
div#table-alamat table, tr , th, td {
    border: 1px solid black;
  }