/* Semua body */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
textarea:focus, input:focus{
    outline: none;
}
input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
head, body {
    margin: 0;
    padding: 0;
    background-color: #ffeaa7;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 20px auto;
    max-width: 900px;
    height: 1300px;
    display: flex;
    flex-direction: column;
}
/* Header website */
header{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fdcb6e;
}
/* Tulisan toko mainan */
div#banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
div#banner p{
    color: #2c3e50;
    font-size: small;
}
div#banner h1{
    color: #e17055;
    font-size: 50px;
}

/* Navbar */
header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: .55;
    background-color: #e17055;
}
input#search{
    color: #2c3e50;
    height: 25px;
    padding: 0px 10px;
    border-radius: 15px;
    border: 1px solid #2c3e50;
    background-color: transparent;
}
button#search{
    cursor: pointer;
    font-size: medium;
    background-color: transparent;
    color: #2c3e50;
    border: none;
    border-radius: 50%;
}
input#search::placeholder{
    color: #2c3e50;
}
header nav a{
    text-decoration: none;
    color: #2c3e50;
}
nav a.daftar-nav , nav a.kat-nav{
    cursor: pointer;
}

/* PROFILE */
div#profile{
    cursor: pointer;
    line-height: 1px;
    display: flex;
    color: #2c3e50;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    padding: 5px;
}
div#profile p{
    font-size: small;
    text-transform: uppercase;
    
}
header nav i#profile{
    font-size: larger;
}
header nav .pemesanan-nav , header nav .keranjang-nav{
    cursor: pointer;
}

/* Main area */
main#homepage{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9b59b6;
}

/* Bagian kategori */
main section#kategori-signup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .5s;
    top:0;
    flex-grow: 1;
    background-color: #e17055;
    margin-bottom: 15px;
}
main section#kategori-signup.show{
    transform: scaleY(1);
}
main #kategori-signup a{
    color: #2c3e50;
    text-decoration: none;
}
main #kategori-signup a:hover{
    font-weight: bolder;
}

main section#product{
    box-sizing: border-box;
    justify-content: space-evenly;
    display: flex;
    flex-grow: 5;
    flex-wrap: wrap;
}
main section#product div#box{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #e17055;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 5px #e17055;
    width: 180px;
    height: 300px;
}

main section#product div#box div#gambar{
    margin-top: 10px;
    flex-grow: 1;
}

main section#product div#box div#caption{
    flex-grow: 1;
    text-align: center;
}
main section#product div#box div#caption a{
    width: 85%;
    padding: 0px 6px;
    background-color: #ff9980;
    text-decoration: none;
    color: #121920;
}

